<div class="row article-form-image">
    <div class="col-auto">
        <img src="/public/uploads/embedded/{{ image.vars.value.name }}" />

    </div>
    <div class="col">
        {{ form_row(form.image) }}
    </div>
</div>

